.header-container{
    height: 600px;
    position: relative;
    background-image: url(../../../images/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-container::after {
    height:600px;
    content:' ';
    position: absolute;
    top: 0;
    width: 33%;
    right: 0;
    background-color: #3A4256;
    z-index: -5;

}
