.btn-brand{
  background-image: linear-gradient(75deg, #11f1c5,#0fcfec);
  border-color: transparent;
  text-transform: uppercase;
  color: white;
  padding: 8px;
  border-radius: 10px;
  font-weight: 600;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


